{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h5 class="my-3 border-bottom pb-2">작성하기</h5>
    <form method="post" class="post-form my-3">
        {% csrf_token %}
        <!-- 오류표시 Start -->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="form-group">
            <label for="subject">제목</label>
            <input type="text" class="form-control" name="subject" id="subject"
                   value="{{ form.subject.value|default_if_none:'' }}">
<!--            타이틀-->
<!--             <div class="container">-->
<!--                <div class="row row-cols-auto">-->
<!--                    <div class="col">no</div>-->
<!--                    <div class="col">상호</div>-->
<!--                    <div class="col">계좌번호</div>-->
<!--                    <div class="col">예금주명</div>-->
<!--                    <div class="col">금액</div>-->
<!--                    <div class="col">출금계좌</div>-->
<!--                    <div class="col">비고</div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <table>-->
<!--&lt;!&ndash;                <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td>no</td>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td>상호</td>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td>계좌번호</td>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td>예금주명</td>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td>금액</td>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td>출금계좌</td>&ndash;&gt;-->
<!--&lt;!&ndash;                    <td>비고</td>&ndash;&gt;-->
<!--&lt;!&ndash;                </tr>&ndash;&gt;-->
<!--                <td>-->
<!--                    <td><input type="text" class="form-control" name="subject" id="no_insert"-->
<!--                   value="{{ form.subject.value|default_if_none:'' }}"></td>-->
<!--                    <td><input type="text" class="form-control" name="subject" id="sangho_insert"-->
<!--                   value="{{ form.subject.value|default_if_none:'' }}"></td>-->
<!--                    <td><input type="text" class="form-control" name="subject" id="bankingnumber_insert"-->
<!--                   value="{{ form.subject.value|default_if_none:'' }}"></td>-->
<!--                    <td><input type="text" class="form-control" name="subject" id="name_insert"-->
<!--                   value="{{ form.subject.value|default_if_none:'' }}"></td>-->
<!--                    <td><input type="text" class="form-control" name="subject" id="moneysum_insert"-->
<!--                   value="{{ form.subject.value|default_if_none:'' }}"></td>-->
<!--                    <td><input type="text" class="form-control" name="subject" id="howpay_insert"-->
<!--                   value="{{ form.subject.value|default_if_none:'' }}"></td>-->
<!--                    <td><input type="text" class="form-control" name="subject" id="etc_insert"-->
<!--                   value="{{ form.subject.value|default_if_none:'' }}"></td>-->
<!--                </tr>-->
<!--            </table>-->
        </div>
        <div class="form-group">
            <label for="content">내용</label>
<!--input 폼 테스트-->
<!--                <div class="input-group input-group-sm mb-3" name="content">-->
<!--                  <span class="input-group-text" id="content">Small</span>-->
<!--                  <input type="text" class="form-control" name="content" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">-->
<!--                    {{ form.content.value|default_if_none:'' }}-->
<!--                  <input type="text" class="form-control" name="content" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">-->
<!--                    {{ form.content.value|default_if_none:'' }}-->
<!--                </div>-->
<!--input 폼 테스트 끝-->

             <div class="container">
                <div class="row row-cols-auto">
                    <div class="col">no</div>
                    <div class="col">상호</div>
                    <div class="col">계좌번호</div>
                    <div class="col">예금주명</div>
                    <div class="col">금액</div>
                    <div class="col">출금계좌</div>
                    <div class="col">비고</div>
                </div>
            </div>
             <table>
                <tr>
                    <td>no</td>
                    <td>상호</td>
                    <td>계좌번호</td>
                    <td>예금주명</td>
                    <td>금액</td>
                    <td>출금계좌</td>
                    <td>비고</td>git
                </tr>
                <td>
                    <td><input type="text" class="form-control" name="subject" id="no_insert"
                   value="{{ form.subject.value|default_if_none:'' }}"></td>
                    <td><input type="text" class="form-control" name="subject" id="sangho_insert"
                   value="{{ form.subject.value|default_if_none:'' }}"></td>
                    <td><input type="text" class="form-control" name="subject" id="bankingnumber_insert"
                   value="{{ form.subject.value|default_if_none:'' }}"></td>
                    <td><input type="text" class="form-control" name="subject" id="name_insert"
                   value="{{ form.subject.value|default_if_none:'' }}"></td>
                    <td><input type="text" class="form-control" name="subject" id="moneysum_insert"
                   value="{{ form.subject.value|default_if_none:'' }}"></td>
                    <td><input type="text" class="form-control" name="subject" id="howpay_insert"
                   value="{{ form.subject.value|default_if_none:'' }}"></td>
                    <td><input type="text" class="form-control" name="subject" id="etc_insert"
                   value="{{ form.subject.value|default_if_none:'' }}"></td>
                </tr>
            </table>






<!--            <textarea class="form-control" name="content"-->
<!--                      id="content" rows="10">-->
<!--                               </textarea>-->
<!--아래두줄 기존 내용입력창 -->
<!--            <textarea class="form-control" name="content"-->
<!--                      id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>-->
        </div>

        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>
{% endblock %}