<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="" method="get">
  <input type="text" name="q" value="{{ q }}">
  <input type="submit" value="검색">
</form>

{% if q %}
{% for qs in qs_list %}
<h5>'{{ qs }}' 검색 결과입니다.</h5>
<h5>'{{ qs.a_1 }}' 검색 결과입니다.</h5>
<h5>'{{ qs.a_2 }}' 검색 결과입니다.</h5>
<h5>'{{ qs.a_3 }}' 검색 결과입니다.</h5>
<p></p>
<a href ="/eas/{{ qs.id }}/" style="text-decoration:none">{{qs.subject }}</a>
{% endfor %}
{% else %}
<p>결재 리스트가 없습니다.</p>
{% endif %}
</body>
</html>