<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="" method="get">
  <input type="text" name="q" value="{{ q }}">
  <input type="submit" value="검색">
</form>

{% if q %}
{% for qs in qs_list %}
{% if qs.a_1 %}
<h5>{{ qs.create_date }}&nbsp;{{ qs.a_1 }}&nbsp;{{ qs.a_1 }}&nbsp;{{ qs.a_2 }}&nbsp;{{ qs.a_3 }}&nbsp;{{ qs.a_4 }}&nbsp;{{ qs.a_6 }}&nbsp;{{ qs.a_7 }}</h5>
{% endif %}

<h5>{{ qs.create_date }}&nbsp;{{ qs.b_1 }}&nbsp;{{ qs.b_2 }}&nbsp;{{ qs.b_3 }}&nbsp;{{ qs.b_4 }}&nbsp;{{ qs.b_6 }}&nbsp;{{ qs.b_7 }}</h5>
<h5>{{ qs.create_date }}&nbsp;{{ qs.c_1 }}&nbsp;{{ qs.c_2 }}&nbsp;{{ qs.c_3 }}&nbsp;{{ qs.c_4 }}&nbsp;{{ qs.c_6 }}&nbsp;{{ qs.c_7 }}</h5>
<h5>{{ qs.create_date }}&nbsp;{{ qs.d_1 }}&nbsp;{{ qs.d_2 }}&nbsp;{{ qs.d_3 }}&nbsp;{{ qs.d_4 }}&nbsp;{{ qs.d_6 }}&nbsp;{{ qs.d_7 }}</h5>
<h5>{{ qs.create_date }}&nbsp;{{ qs.e_1 }}&nbsp;{{ qs.e_2 }}&nbsp;{{ qs.e_3 }}&nbsp;{{ qs.e_4 }}&nbsp;{{ qs.e_6 }}&nbsp;{{ qs.e_7 }}</h5>
<h5>{{ qs.create_date }}&nbsp;{ qs.f_1 }}&nbsp;{{ qs.f_2 }}&nbsp;{{ qs.f_3 }}&nbsp;{{ qs.f_4 }}&nbsp;{{ qs.f_6 }}&nbsp;{{ qs.f_7 }}</h5>


{% endfor %}
{% else %}
<p>결재 리스트가 없습니다.</p>
{% endif %}
</body>
</html>