<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <title>거래처 계좌정보 조회</title>
  </head>
<body>
<p></p>
<form action="" method="get">
<!--    <input type="text" name="q" value="{{ q }}">-->
  <div class="container">
    <div class="input-group mb-3 col-4" align="left">
      <span class="input-group-text" id="basic-addon1">Search</span>
      <input type="text" class="form-control" placeholder="거래처명" aria-label="거래처명" aria-describedby="basic-addon1" name="q" value="{{ q }}">
    </div>
  </div>
<!--  <input type="submit" value="검색">-->
</form>

{% if q %}
{% for qs in qs_list %}
{% if q in qs.a_1 %}
<h5>{{ qs.create_date }}&nbsp;{{ qs.a_1 }}&nbsp;{{ qs.a_2 }}&nbsp;{{ qs.a_3 }}&nbsp;{{ qs.a_4 }}&nbsp;{{ qs.a_6 }}&nbsp;{{ qs.a_7 }}</h5>
{% endif %}
{% if q in qs.b_1 %}
<h5>{{ qs.create_date }}&nbsp;{{ qs.b_1 }}&nbsp;{{ qs.b_2 }}&nbsp;{{ qs.b_3 }}&nbsp;{{ qs.b_4 }}&nbsp;{{ qs.b_6 }}&nbsp;{{ qs.b_7 }}</h5>
{% endif %}
{% if q in  qs.c_1 %}
<h5>{{ qs.create_date }}&nbsp;{{ qs.c_1 }}&nbsp;{{ qs.c_2 }}&nbsp;{{ qs.c_3 }}&nbsp;{{ qs.c_4 }}&nbsp;{{ qs.c_6 }}&nbsp;{{ qs.c_7 }}</h5>
{% endif %}
{% if q in  qs.d_1 %}
<h5>{{ qs.create_date }}&nbsp;{{ qs.d_1 }}&nbsp;{{ qs.d_2 }}&nbsp;{{ qs.d_3 }}&nbsp;{{ qs.d_4 }}&nbsp;{{ qs.d_6 }}&nbsp;{{ qs.d_7 }}</h5>
{% endif %}
{% if q in  qs.e_1 %}
<h5>{{ qs.create_date }}&nbsp;{{ qs.e_1 }}&nbsp;{{ qs.e_2 }}&nbsp;{{ qs.e_3 }}&nbsp;{{ qs.e_4 }}&nbsp;{{ qs.e_6 }}&nbsp;{{ qs.e_7 }}</h5>
{% endif %}
{% if q in  qs.f_1 %}
<h5>{{ qs.create_date }}&nbsp;{{ qs.f_1 }}&nbsp;{{ qs.f_2 }}&nbsp;{{ qs.f_3 }}&nbsp;{{ qs.f_4 }}&nbsp;{{ qs.f_6 }}&nbsp;{{ qs.f_7 }}</h5>
{% endif %}

{% endfor %}
{% else %}
<p>거래처명을 입력하세요.</p>
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>