<!doctype html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!--        <script> function modal(){ $("#exampleModal1").modal("hide"); } </script>-->
<!--      모달 버튼 누루면닫히거나 시간되면 닫히거나 부터 -->
      <script>
            $('.modal-auto-clear').on('shown.bs.modal', function () {
<!--                // if data-timer attribute is set use that, otherwise use default (7000)-->
                var timer = $(this).data('timer') ? $(this).data('timer') : 3000;
                $(this).delay(timer).fadeOut(200, function () {
                    $(this).modal('hide');
                });
            })
        </script>


    <title>대진산업_전자결재</title>
  </head>
        <body>
        <p></p>


        <p></p>
<div class="container">

    <!-- 결재란 -->
        <div class="row">
            <div class="col-6 align=middle">
                <br>
                <br>

                <h3 align="center">품 의 서</h3>
        <hr>
            <div class="col align-items-bottom align=middle">2022-4-5 13:30</div>
            </div>

            <div class="col-6">
                <table class="table table-sm table-bordered border-secondary align-middle">
                     <tr  class="table-secondary" align="center" >
                      <td height = "10px"><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal1">담당</a></td>
                      <td>승인</td>
                      <td>승인</td>
                    </tr>
<!-- 결재란-->
                  <tbody>
                    <tr align="center">
                      <td height = "80px" width = "150px" bgcolor="#D8D8D8">
<!--                          <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal1">담당</a>-->
                          <div class="collapse collapse-horizontal" id="collapseWidthExample">
                            <img src="/static/img/hyuckman.JPG" class="img-fluid" alt="hyuckman">
                          </div>


                          <!-- Button trigger modal -->
<!--                        <div>-->
<!--                            <button type="button" class="btn btn-outline-secondary btn-sm" id="noneDiv" data-bs-toggle="modal" data-bs-target="#exampleModal1">-->
<!--                          담당-->
<!--                        </button>-->
<!--                        </div>-->
<!--                         -->

<!--                        &lt;!&ndash; Modal &ndash;&gt;-->
                        <div class="modal fade modal-auto-clear" data-timer="3000" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel1">결재 전송하기</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                검토 후 재가바랍니다.!
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">취소</button>
                                <button type="submit" class="btn btn-primary btn-lg" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">전송</button>
                              </div>
                            </div>
                          </div>
                        </div>



                      </td>
                      <td width = "150px"><button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal2" data-bs-whatever="@getbootstrap">이사</button>
                            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel2">결제전송하기</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-footer row-3 ">
                                    <div><button type="button" class="btn btn-danger btn-lg">반려</button></div>
                                    <div><button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">취소</button></div>
                                    <div><button type="button" class="btn btn-primary btn-lg">승인</button></div>
                                  </div>
                                  <div class="modal-body1">
                                      <p><u>검토 후 재가 바랍니다.</u></p>
                                    <form>
                                      <div class="mb-3">
                                        <label for="message-text" class="col-form-label">지시사항 및 결제의견</label>
                                        <textarea class="form-control" id="message-text2"></textarea>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div></td>
                      <td width = "150px"><button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal3" data-bs-whatever="@getbootstrap">대표</button>
                            <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">결제전송하기</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-footer row-3 ">
                                    <div><button type="button" class="btn btn-danger btn-lg">반려</button></div>
                                    <div><button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">취소</button></div>
                                    <div><button type="button" class="btn btn-primary btn-lg">승인</button></div>
                                  </div>
                                  <div class="modal-body">
                                      <p><u>검토 후 재가 바랍니다.</u></p>
                                    <form>
                                      <div class="mb-3">
                                        <label for="message-text" class="col-form-label">지시사항 및 결제의견</label>
                                        <textarea class="form-control" id="message-text"></textarea>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div></td>
                    </tr>
                    <tr align="center" bgcolor="#E6E6E6">
                      <td>4/6</td>
                      <td>4/6</td>
                      <td>4/6</td>
                    </tr>
                  </tbody>
                </table>

            </div>


        </div>






        <div class="row" style="height: 50px;" align="center">
          <div class="col-4">
            <select class="form-select" aria-label="Default select example">
              <option value="buy">매입결재</option>
              <option value="request">품의서</option>
              <option value="holiday">휴가원</option>
            </select>
          </div>
          <div class="col-8">
             <table class="table">
              <thead>
                <tr>
                  <th scope="col">계</th>
                  <th scope="col">12,345,456</th>
                </tr>
              </thead>
             </table>
          </div>

        </div>
        <div class="row">
          <div class="col-12">
              <div class="input-group mb-3">
              <span class="input-group-text" id="input_subject">제목</span>
              <textarea class="form-control" id="input_subject1" rows="1"></textarea>
              </div>
          </div>

        </div>

<!--입력창 타이틀-->
        <div class="row text-white" align="center">
            <div class="col-lg-1 col-md-1 col-sm-1 bg-secondary text-white" style="border: 1px solid white" align="center">no</div>
            <div class="col-lg-2 col-md-3 col-sm-3 bg-secondary text-white" style="border: 1px solid white" align="center">매입처</div>
            <div class="col-lg-2 col-md-4 col-sm-4 d-none d-sm-block bg-secondary text-white" style="border: 1px solid white" align="center">계좌번호</div>
            <div class="col-lg-1 col-md-1 col-sm-1 d-none d-sm-block bg-secondary text-white" style="border: 1px solid white" align="center">은행</div>
            <div class="col-lg-1 col-md-3 col-sm-3 d-none d-sm-block bg-secondary text-white" style="border: 1px solid white" align="center">계좌명</div>
            <div class="col-lg-2 col-md-5 col-sm-5 bg-secondary text-white" style="border: 1px solid white" align="center">금액</div>
            <div class="col-lg-1 col-md-2 col-sm-2 d-none d-sm-block bg-secondary text-white" style="border: 1px solid white" align="center">구분</div>
            <div class="col-lg-2 col-md-5 col-sm-5 bg-secondary text-white" style="border: 1px solid white" align="center">적요</div>
        </div>
<!--   입력창      -->
        <div class="row"  align="center" >
            <div class="col-lg-1 col-md-1 col-sm-1" style="background-color: #E6E6E6; border: 1px solid #D8D8D8" align="center">1</div>
            <div class="col-lg-2 col-md-3 col-sm-3" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-3 col-sm-3 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-5 col-sm-5" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-2 col-sm-2 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-5 col-sm-5" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
        </div>
        <div class="row" align="center">
            <div class="col-lg-1 col-md-1 col-sm-1" style="background-color: #E6E6E6; border: 1px solid #D8D8D8" align="center">2</div>
            <div class="col-lg-2 col-md-3 col-sm-3" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-3 col-sm-3 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-5 col-sm-5" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-2 col-sm-2 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-5 col-sm-5" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
        </div>
        <div class="row" align="center">
            <div class="col-lg-1 col-md-1 col-sm-1" style="background-color: #E6E6E6; border: 1px solid #D8D8D8" align="center">3</div>
            <div class="col-lg-2 col-md-3 col-sm-3" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-3 col-sm-3 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-5 col-sm-5" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-2 col-sm-2 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-5 col-sm-5" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
        </div>
        <div class="row" align="center">
            <div class="col-lg-1 col-md-1 col-sm-1" style="background-color: #E6E6E6; border: 1px solid #D8D8D8" align="center">4</div>
            <div class="col-lg-2 col-md-3 col-sm-3" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-3 col-sm-3 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-5 col-sm-5" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-2 col-sm-2 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-5 col-sm-5" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
        </div>
        <div class="row" align="center">
            <div class="col-lg-1 col-md-1 col-sm-1" style="background-color: #E6E6E6; border: 1px solid #D8D8D8" align="center">5</div>
            <div class="col-lg-2 col-md-3 col-sm-3" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-3 col-sm-3 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-5 col-sm-5" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-2 col-sm-2 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-5 col-sm-5" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
        </div>
        <div class="row" align="center">
            <div class="col-lg-1 col-md-1 col-sm-1" style="background-color: #E6E6E6; border: 1px solid #D8D8D8" align="center">6</div>
            <div class="col-lg-2 col-md-3 col-sm-3" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-3 col-sm-3 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-5 col-sm-5" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-2 col-sm-2 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-5 col-sm-5" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
        </div>
        <div class="row" align="center">
            <div class="col-lg-1 col-md-1 col-sm-1" style="background-color: #E6E6E6; border: 1px solid #D8D8D8" align="center">7</div>
            <div class="col-lg-2 col-md-3 col-sm-3" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-3 col-sm-3 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-5 col-sm-5" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-2 col-sm-2 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-5 col-sm-5" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
        </div>
        <div class="row" align="center">
            <div class="col-lg-1 col-md-1 col-sm-1" style="background-color: #E6E6E6; border: 1px solid #D8D8D8" align="center">8</div>
            <div class="col-lg-2 col-md-3 col-sm-3" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-3 col-sm-3 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-5 col-sm-5" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-2 col-sm-2 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-5 col-sm-5" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
        </div>
        <div class="row" align="center">
            <div class="col-lg-1 col-md-1 col-sm-1" style="background-color: #E6E6E6; border: 1px solid #D8D8D8" align="center">9</div>
            <div class="col-lg-2 col-md-3 col-sm-3" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-3 col-sm-3 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-5 col-sm-5" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-2 col-sm-2 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-5 col-sm-5" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
        </div>
        <div class="row" align="center">
            <div class="col-lg-1 col-md-1 col-sm-1" style="background-color: #E6E6E6; border: 1px solid #D8D8D8" align="center">10</div>
            <div class="col-lg-2 col-md-3 col-sm-3" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-3 col-sm-3 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-5 col-sm-5" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-1 col-md-2 col-sm-2 d-none d-sm-block" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
            <div class="col-lg-2 col-md-5 col-sm-5" style="border: 1px solid #D8D8D8" align="center">
                <input class="form-control form-control-sm" type="text" placeholder="" aria-label="">
            </div>
        </div>
    </div>
    <p></p>
    <div class="row" align="center">
        <div class="col-6">
          <div class="mb-3 bg-secondary text-white">
          <label for="jisi1" class="form-label">지시사항</label>
          <textarea class="form-control" id="jisi1" rows="3"></textarea>
          </div>
        </div>
        <div class="col-6">
              <div class="mb-3 bg-secondary text-white">
              <span class="input-group-text" id="input_chamjo">참조사항</span>
              <textarea class="form-control" id="chamjo1" rows="1"></textarea>
        </div>
    </div>
</div>


   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

        </body>
</html>