{% extends 'base_eas.html' %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form name="viewerForm" action="http://info.sweettracker.co.kr/tracking/4" method="post" target="viewer" onsubmit="postPopUp();">
                {% csrf_token %}
               <div class="input-group flex-nowrap">
<!--                <label for="t_key"></label>-->
                <input type="hidden" class="form-control form-control-sm" id="t_key" name="t_key" value="YFjaa5nBpHKFhYt560rryA">
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                <label for="t_code">택배사 코드</label>-->
<!--                 <input type="text" class="form-control form-control-sm" name="t_code" id="t_code" placeholder="택배사 코드">-->
                   <select class="form-select form-select-sm" aria-label="Default select example" name="t_code" id="t_code">
                      <option selected>택배사</option>
                      <option value="04">대한통운</option>
                      <option value="05">한진</option>
                      <option value="06">로젠</option>
                      <option value="23">경동</option>
                      <option value="32">합동</option>
                      <option value="18">건영</option>
                      <option value="17">천일</option>
                      <option value="45">호남</option>
                      <option value="01">우체국</option>
                   </select>
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                  <label for="t_invoice">운송장 번호</label>-->
                    &nbsp;
                  <input type="number" class="form-control form-control-sm" name="t_invoice" id="t_invoice" placeholder="운송장 번호">
                  <button type="submit" class="btn btn-outline-secondary">조회</button>
                </div>

              </form>
</body>

  <script type="text/javascript">
      function postPopUp(viewerForm) {

        frm = document.getElementById(viewerForm);
        window.open('', 'viewer', 'width=500, height=800 left=710, top=86, location=no,status=no,scrollbars=yes');

       }


   var regExp = /[ \{\}\[\]\/?.,;:|\)*~`!^\-_+┼<>@\#$%&\ '\"\\(\=]/gi;
   var str = $( "#inputid").val();
   var text = str.replace(regExp, "")
   $( "#t_invoice").val(text.trim());
  </script>
</html>

{% endblock %}