{% extends 'base_eas.html' %}
{% load eas_filter %}
{% block content %}
<!--<p></p>-->
<div class="container">
<div class="row justify-content-between my-3">
<!--    <div class="col-2"> </div>-->
    <div class="col-8">
<!--    <div class="container my-3">-->
<!--        <div class="row my-3">-->
<!--            <div class="col-6">-->

<!--            </div>-->
<!--            <div class="col-6">-->
<!--                <div class="input-group">-->
<!--                    <input type="text" id="search_kw" class="form-control" value="{{ kw|default_if_none:'' }}">-->
<!--                    <div class="input-group-append">-->
<!--                        <button class="btn btn-outline-secondary" type="button" id="btn_search">Search</button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <table class="table table-hover">
        <thead>
        <tr class="table-secondary text-center ">
            <th>No</th>
            <th style="width:70%">제목</th>
            <th style="width:5%">이사</th>
            <th style="width:5%">대표</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>

    {% if Request_list %}
    {% for Request in Request_list %}
    <tr class="text-center">
      <td>
       <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
       {{ Request_list.paginator.count|sub:Request_list.start_index|sub:forloop.counter0|add:1 }}
      </td>
      <td class="text-start" style ="font-color:#000000">
      <a href ="/eas/{{ Request.id }}/" style="text-decoration:none">{{Request.subject }}</a>
      </td>
      <td>{{ Request.aaa }}</td>
      <td>{{ Request.bbb }}</td>
      <td>{{ Request.create_date|date:'y/n/d/g:i' }}</td>
    </tr>
        {% endfor %}

    {% else %}
    <tr>
     <p>결재 리스트가 없습니다.</p>
    </tr>
    {% endif %}

        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if Request_list.has_previous %}
        <li class="page-item">
            <a class="page-link" data-page="{{ Request_list.previous_page_number }}" href="javascript:void(0)">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in Request_list.paginator.page_range %}
        {% if page_number >= Request_list.number|add:-5 and page_number <= Request_list.number|add:5 %}
        {% if page_number == Request_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" data-page="{{ page_number }}" href="javascript:void(0)">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" data-page="{{ page_number }}" href="javascript:void(0)">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if Request_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ Request_list.next_page_number }}" href="javascript:void(0)">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">다음</a>
        </li>
        {% endif %}
    </ul>
   <div class="col-2"> </div>
    <!-- 페이징처리 끝 -->
 </div>
</div>
</div>

<!-- 검색 -->
    <form id="searchForm" method="get" action="{% url 'eas:index' %}">
        <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
        <input type="hidden" id="page" name="page" value="{{ page }}">
    </form>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<!--    <ul>-->
<!--      <a href="{% url 'eas:Request_create' %}" class="btn btn-secondary">작성하기</a>-->
<!--    </ul>-->
    {% endblock %}
    {% block script %}
    <script type='text/javascript'>
    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function() {
        document.getElementById('kw').value = document.getElementById('search_kw').value;
        document.getElementById('page').value = 1;  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        document.getElementById('searchForm').submit();
    });

    function enterkey() {
            if (window.event.keyCode == 13) {
                 $("#search").submit();
            }
        }

    </script>
    {% endblock %}