{% extends 'base_eas.html' %}
{% block content %}
        <p></p>
<!--         {% if messages %}-->
<!--            <ul class="absoulte top-0 right-0 left-0 flex justify-center">-->
<!--        {% for message in messages %}-->
<!--            <li class="z-20 message py-3 px-5 text-white rounded-lg font-bold text-lg {% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</li>-->
<!--        {% endfor %}-->
<!--            </ul>-->
<!--        {% endif %}-->

        <p></p>
<div class="container">
    <form method="post" onkeydown="return event.key != 'Enter';">
        {% csrf_token %}
        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}
            <div>
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->

        <!-- 결재란 -->
            <div class="row">
                <div class="col-6 align=middle">
                    <br>
                    <br>

                    <h3 align="center">휴 가 품 의 서</h3>
            <hr>
                <div class="col align-items-bottom align=middle" id="now_date"></div>
                </div>

                <div class="col-6">
                    <table class="table table-sm table-bordered border-secondary align-middle">
                         <tr  class="table-secondary" align="center" >
    <!--                      <td height = "10px"><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal1">담당</a></td>-->
                          <td height = "10px"><button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal1"><B>&nbsp;담&nbsp;당&nbsp;</b></button></td>
                          <td><button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal2" data-bs-whatever="@getbootstrap"><b>&nbsp;이&nbsp;사&nbsp;</b></button></td>
                          <td><button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal3" data-bs-whatever="@getbootstrap"><b>&nbsp;대&nbsp;표&nbsp;</b></button>
                        </tr>
    <!-- 결재란-->
                      <tbody>
                        <tr align="center">
                          <td height = "80px" width = "150px" bgcolor="#D8D8D8">
    <!--                          <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal1">담당</a>-->
    <!--                          <div class="collapse collapse-horizontal" id="collapseWidthExample">-->
    <!--                            <img src="/static/img/hyuckman.JPG" class="img-fluid" alt="hyuckman" id="firstcheck">-->
                              <div id="first_comfirm" style="display: none"><img src="/static/img/hyuckman.JPG" class="img-fluid" alt="first_comfirm" id="firstcheck"></div>
    <!--                          </div>-->

                              <!-- Button trigger modal -->
    <!--                        <div>-->
    <!--                            <button type="button" class="btn btn-outline-secondary btn-sm" id="noneDiv" data-bs-toggle="modal" data-bs-target="#exampleModal1">-->
    <!--                          담당-->
    <!--                        </button>-->
    <!--                        </div>-->
    <!--                         -->

    <!--                        &lt;!&ndash; Modal &ndash;&gt;-->
                            <div class="modal fade modal-auto-clear" data-timer="3000" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel1">결재 전송하기</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    검토 후 재가바랍니다.!
                                  </div>
                                  <div class="modal-footer">

    <!--                                <button type="submit" class="btn btn-secondary btn-lg"  data-bs-target="#collapseWidthExample" id="btntest">취소</button>-->
                                    <button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal" id="sendbtn">취소</button>
                                    <div><button type="submit" class="btn-success btn-lg" data-bs-dismiss="modal" id="first_check_reday">저장</button></div>
                                    <div><button type="submit" class="btn btn-danger btn-lg" data-bs-dismiss="modal" id="first_check">상신</button></div>
    <!--                                <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample" id="send">날인</button>-->
                                  </div>
                                </div>
                              </div>
                            </div>


    <!--이사 결재란-->
                          </td>
                          <td width = "150px">
                               <div id="24" style="display: none"><img src="/static/img/hyunsoo.JPG" class="img-fluid" alt="24" id="secondcheck"></div>
                               <div id="24_1" style="display: none"><img src="/static/img/reject_img.jpg" class="img-fluid" alt="24_1" id="secondcheck1"></div>
                                <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel2">결제전송하기</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-footer row-3 ">
                                        <div><button type="button" class="btn btn-primary btn-lg" data-bs-dismiss="modal" id="send2">반려</button></div>
                                        <div><button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal" >취소</button></div>
                                        <div><button type="button" class="btn btn-danger btn-lg" data-bs-dismiss="modal" id="24_send">승인</button></div>
                                      </div>
                                      <div class="modal-body1">
                                          <p>검토 후 재가 바랍니다.</p>
                                        <form>
                                          <div class="mb-3">
                                            <label class="col-form-label">지시사항 및 결제의견</label>
                                            <input class="form-control form-control-sm" type="text" placeholder="" aria-label="" id="chamjo1_holiday" name="chamjo1" value="{{ form.chamjo1.value|default_if_none:'' }}">
                                          </div>
                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                </div></td>
    <!--   대표이사 결재란-->
                          <td width = "150px">
                                <div id="director" style="display: none"><img src="/static/img/taewon.JPG" class="img-fluid" alt="director"></div>
                                <div id="director_1" style="display: none"><img src="/static/img/reject_img.jpg" class="img-fluid" alt="director_1"></div>
    <!--                          <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal3" data-bs-whatever="@getbootstrap">반려</button>-->
    <!--                                          &nbsp;<button type="button" class="btn btn-outline-secondary btn-sm">승인</button>-->
                                <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">결제전송하기</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-footer row-3 ">
                                        <div><button type="button" class="btn btn-primary btn-lg" data-bs-dismiss="modal" id="reject_2">반려</button></div>
                                        <div><button type="button" class="btn btn-secondary btn-lg" data-bs-dismiss="modal">취소</button></div>
                                        <div><button type="button" class="btn btn-danger btn-lg" data-bs-dismiss="modal" id="final">승인</button></div>
                                      </div>
                                      <div class="modal-body">
                                          <p>검토 후 재가 바랍니다.</p>
<!--                                        <form>-->
                                          <div class="mb-3">
<!--                                            <label for="message-text" class="col-form-label">지시사항 및 결제의견</label>-->
<!--                                            <input class="form-control form-control-sm" type="text" placeholder="" aria-label="" id="jisi1" name="jisi1" value="{{ form.jisi1.value|default_if_none:'' }}">-->
                                          </div>
<!--                                        </form>-->
                                      </div>
                                    </div>
                                  </div>
                                </div></td>
                        </tr>
                        <tr align="center" bgcolor="#E6E6E6">
                          <td id="data1"></td>
                          <td id="data2"></td>
                          <td id="data3"></td>
                        </tr>
                      </tbody>
                    </table>

                </div>


            </div>






<!--            <div class="row" style="height: 50px;" align="center">-->
<!--              <div class="col-4">-->
<!--                <select class="form-select" aria-label="Default select example">-->
<!--                  <option value="buy">매입결재</option>-->
<!--                  <option value="request">품의서</option>-->
<!--                  <option value="holiday">휴가원</option>-->
<!--                </select>-->
<!--              </div>-->
<!--              <div class="col-8">-->
<!--                 <table class="table">-->
<!--                  <thead>-->
<!--                    <tr>-->
<!--                      <th scope="col">계</th>-->
<!--                      <th scope="col" id="total"></th>-->
<!--                    </tr>-->
<!--                  </thead>-->
<!--                 </table>-->
<!--              </div>-->

<!--            </div>-->
            <div class="row">
              <div class="col-12">
                  <div class="input-group mb-3">
                  <span class="input-group-text" id="input_subject">제목</span>
                  <input type="text" class="form-control" name="subject" id="subject"
                   value="{{ form.subject.value|default_if_none:'' }}">
<!--                  <textarea class="form-control" id="input_subject1" rows="1"></textarea>-->
                  </div>
              </div>

            </div>

    <!--입력창 타이틀-->
            <div class="row text-white" align="center">
                <div class="bg-secondary text-white" style="border: 1px solid white" align="center">내용</div>
            </div>
    <!--   입력창      -->
            <div class="row"  align="center" >
                <div style="border: 1px solid #D8D8D8" align="center">
                    <input class="form-control form-control-sm" type="text" placeholder="" aria-label="" id="a_1" name="a_1" row="5" value="{{ form.a_1.value|default_if_none:'' }}">
                </div>
            </div>
    </form>
  </div>





               <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
                 <script>
    <!--  담당 모달창 닫힐때 이벤트-->
                    $(document).ready(function(){
                        $('#exampleModal1').on('hidden.bs.modal', function () {
                                if($("#first_comfirm").css("display") != "none"){
                                  alert("전송완료");
                                }
                        });
    <!--이사결재란 모달 닫힐때 이벤트-->
                    });

                    $(document).ready(function(){
                        $('#exampleModal2').on('hidden.bs.modal', function () {
<!--                                if($("#24").css("display")!= "none"){-->
                                    alert("전송완료");
                                    }
                        });

                    });

                    $(document).ready(function(){
                        $('#exampleModal2').on('hidden.bs.modal', function () {
<!--                                if($("#24_1").css("display") != "none"){-->
                                    alert("전송완료");
                                    }
                        });
    <!--대표결제란 모델 닫힐때 이벤트-->
                    });

                    $(document).ready(function(){
                        $('#exampleModal3').on('hidden.bs.modal', function () {
                                if($("#director").css("display")!= "none"){
                                    alert("전송완료");
                                    }
                        });

                    });

                    $(document).ready(function(){
                        $('#exampleModal3').on('hidden.bs.modal', function () {
                                if($("#director_1").css("display") != "none"){
                                    alert("전송완료");
                                    }
                        });

                    });





    <!-- 이사 모달창 버튼 클릭시 이벤트-->

                    $(function(){
                        $('#24_send').click(function(){
                            if($("#24").css("display") && $("#24_1").css("display") == "none"){
                                $('#24').show();
                            }
                        });
                    });

                    $(function(){
                        $('#send2').click(function(){
                            if($("#24_1").css("display") && $("#24").css("display") == "none"){
                                $('#24_1').show();

                            }
                        });
                    });
    <!-- 담당 모달창 버튼 클릭시 이벤트-->
                    $(function(){
                        $('#first_check').click(function(){
                            if($("#first_comfirm").css("display") == "none"){
                                $('#first_comfirm').show();

                            }
                        });
                    });
    <!-- 대표 모달창 버튼 클릭시 이벤트-->
                    $(function(){
                        $('#final').click(function(){
                            if($("#director").css("display") && $("#director_1").css("display") == "none"){
                                $('#director').show();
                            }
                        });
                    });

                    $(function(){
                        $('#reject_2').click(function(){
                            if($("#director_1").css("display") && $("#director").css("display") == "none"){
                                $('#director_1').show();

                            }
                        });
                    });

<!--                    document.insertform.addEventListener("keydown", evt => {-->
<!--                      if ((evt.keyCode || evt.which) === 13) {-->
<!--                      evt.preventDefault();-->
<!--                    });-->


                 </script>

{% endblock %}