{% load static %}
<!--<!doctype html>-->
<html lang="ko">
  <head>
      <link rel="shortcut icon" href="{% static 'img/daejindojang.ico' %}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


  </head>

  <title>대진산업_전자결재</title>

  <body>
  <!-- 네비게이션바 -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom" style="height:8%">
        <div class="container-sm">
            <div>
            <a class="navbar-brand" href="{% url 'eas:index' %}" accesskey="j" onMouseOver="this.innerHTML='alt+j'" onMouseOut="this.innerHTML='Eas'">Eas</a>
            <a class="navbar-brand" href="{% url 'eas:Request_create' %}" accesskey="w" onMouseOver="this.innerHTML='alt+w'" onMouseOut="this.innerHTML='write'">write</a>
            <a class="navbar-brand" style="display:none;" href="{% url 'eas:Request_create_24' %}" accesskey="R">write</a>
            <a class="navbar-brand" style="display:none;" href="/hometax" accesskey="h">hometax</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          <div class="navbar-collapse collapse justify-content-end" id="navbarSupportedContent">

<!-- --------------택배조회 -->
            <div class="d-none d-sm-block">
            <form style="padding-top:18px" name="viewerForm" action="http://info.sweettracker.co.kr/tracking/4" method="post" target="viewer" onsubmit="postPopUp();">
                {% csrf_token %}
               <div class="input-group flex-nowrap">
<!--                <label for="t_key"></label>-->
                <input type="hidden" class="form-control form-control-sm" id="t_key" name="t_key" value="5azWTuBcxA3nMbznSiRdPw">
<!--                </div>-->
<!--                <div class="form-group">-->
<!--                <label for="t_code">택배사 코드</label>-->
<!--                 <input type="text" class="form-control form-control-sm" name="t_code" id="t_code" placeholder="택배사 코드">-->
                   <select class="form-select form-select-sm" aria-label="Default select example" name="t_code" id="t_code" accesskey="t">>
                      <option selected>택배사</option>
                      <option value="04">대한통운</option>
                      <option value="05">한진</option>
                      <option value="08">롯데</option>
                      <option value="06">로젠</option>
                      <option value="23">경동</option>
                      <option value="32">합동</option>
                      <option value="18">건영</option>
                      <option value="17">천일</option>
                      <option value="45">호남</option>
                      <option value="01">우체국</option>
                   </select>
<!--                </div>-->

<!--                <div class="form-group">-->
<!--                  <label for="t_invoice">운송장 번호</label>-->
                    &nbsp;
                  <input type="number" class="form-control form-control-ml" name="t_invoice" id="t_invoice" placeholder="운송장 번호">
                  <button type="submit" class="btn btn-outline-secondary">조회</button>
                </div>

            </form>
            </div>
              &nbsp;&nbsp;
<!-- --------------택배조회 끝-->
<!--             <form id="search">-->
               <button class="btn btn-outline-light" type="button" onclick="window.open('http://3.37.211.248/eas/account.html','window_name','width=730,height=195, left=710, top=86, location=no,status=no,scrollbars=yes');" accesskey="q" onMouseOver="this.innerHTML=' ALT+Q '" onMouseOut="this.innerHTML='계좌조회'">계좌조회</button>

<!--             </form>-->

        </div>

       </div>



<!--            <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--                <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--                    <li class="nav-item">-->
<!--&lt;!&ndash;                        <a class="nav-link" href="#">로그인</a>&ndash;&gt;-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->


    </nav>

  <!-- 기본 템플릿 안에 삽입될 내용 Start -->
  {% block content %}
  {% endblock %}
  <!-- 기본 템플릿 안에 삽입될 내용 End -->

  <!-- 자바스크립트 Start -->
  {% block script %}
  {% endblock %}
  <!-- 자바스크립트 End -->

<!--  <script>-->
<!--      const searchInput = document.getElementById("search_kw");-->
<!--      const maxLength = 50;-->

<!--      searchInput.addEventListener("focus", e => {-->
<!--      const el = e.target;-->
<!--      setTimeout(() => {-->
<!--        el.setSelectionRange(maxLength, maxLength);-->
<!--        el.scrollLeft = maxLength * 30;-->
<!--        }, 0);-->
<!--      });-->
<!--  </script>-->
  </body>
  <script type="text/javascript">
      function postPopUp(viewerForm) {

        frm = document.getElementById(viewerForm);
        window.open('', 'viewer', 'width=500, height=800 left=710, top=86, location=no,status=no,scrollbars=yes');

       }

<!--      function regExp(t_invoice){-->
<!--      var reg = /[\{\}\[\]\/?.,;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\"]/gi-->
<!--      //특수문자 검증-->
<!--      if(reg.test(t_invoice)){-->
<!--        //특수문자 제거후 리턴-->
<!--        return t_invoice.replace(reg, "");-->
<!--      } else {-->
<!--        //특수문자가 없으므로 본래 문자 리턴-->
<!--        return str;-->
<!--        }-->
<!--      }-->

<!--     $('body').on('input', 'input[name=t_invoice]', function() {-->
<!--          var reg = /[\{\}\[\]\/?.,;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\"]/gi-->
<!--          $(this).val($(this).val().replace(reg, ''));-->
<!--          var value = $('input[name=t_invoice]').val();-->
<!--            value = value.replace("-", "");-->
<!--            $('input[name=t_invoice]').val(value);-->
<!--        });-->


  </script>

</html>