{% extends 'base_eos.html' %}
{% block content %}
{% load eos_filter %}

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>대진산업_전자발주</title>
</head>
<body class="bg-black">
<br>
    <table align="center">
        <tr align="center" >
            <td><img src="https://picsum.photos/1080/650/?random" class="img-fluid"></td>
        </tr>

    </table>

<button style="display:none;" onClick="window.location.reload()" type="button" class="btn btn-outline-success btn-sm" accesskey="+">Reflash</button>






</body>
</html>

{% endblock %}