{% extends 'base_eos.html' %}
{% block content %}

         {% if messages %}
            <ul class="absoulte top-0 right-0 left-0 flex justify-center">
        {% for message in messages %}
            <li class="z-20 message py-3 px-5 text-white rounded-lg font-bold text-lg {% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</li>
        {% endfor %}
            </ul>
        {% endif %}
       <p></p>

<!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}
            <div>
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
<!-- 오류표시 End -->
<div class="container">
    <form method="post" name="detail_input" onkeydown="return event.key != 'Enter';">
        {% csrf_token %}
    <div class="row">
        <div class="col-6">
            <span>발주자 : 최은주(010-8009-2098)</span>
        </div>
        <div class="col-6">
            <span>발주일 : 2022년 6월 29일</span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-4">
            <select class="form-select" aria-label="Default select example">
              <option selected>발주 매장 선택</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
              <option value="4">four</option>
              <option value="5">five</option>
              <option value="6">six</option>
              <option value="7">seven</option>
              <option value="8">eight</option>
              <option value="9">nine</option>
            </select>
        </div>
<!--  배송일 달력 날짜선택   -->
        <div class="col-4">
            <input
                     type="text"
                     class="datepicker_input form-control border-2"
                     id="datepicker"
                     requiredplaceholder="DD/MM/YYYY">
        </div>
    </div>
    </form>
</div>



<script>
    const getDatePickerTitle = elem => {
      const label = elem.nextElementSibling;
      let titleText = '';
      if (label && label.tagName === 'LABEL') {
        titleText = label.textContent;
      } else {
        titleText = elem.getAttribute('aria-label') || '';
      }
      return titleText;
    }

    const elems = document.querySelectorAll('.datepicker_input');
    for (const elem of elems) {
      const datepicker = new Datepicker(elem, {
        'format': 'dd/mm/yyyy', // UK format
        title: getDatePickerTitle(elem)
      });
}
</script>



{% endblock %}