{% extends 'base_eos.html' %}
{% block content %}

         {% if messages %}
<ul class="absoulte top-0 right-0 left-0 flex justify-center" xmlns:th="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.w3.org/1999/xhtml">
        {% for message in messages %}
            <li class="z-20 message py-3 px-5 text-white rounded-lg font-bold text-lg {% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</li>
        {% endfor %}
            </ul>
        {% endif %}
       <p></p>

<!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}
            <div>
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
<!-- 오류표시 End -->
<div class="container-fluid">
    <form method="post" name="detail_input" onkeydown="return event.key != 'Enter';">
        {% csrf_token %}
    <div class="row">
        <div class="col-5">
            <span>발주자 : 최은주(010-8009-2098)</span>
        </div>
        <div class="col-5">
            <span>발주일 : 2022-06-29</span>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 d-none d-sm-block">
        <button type="button" class="btn btn-outline-dark">파일생성</button>
        <button type="button" class="btn btn-outline-dark">발주서 출력</button>
        </div>
    </div>
    <br>
    <div class="row container-fluid input-group">
        <h6>발주매장</h6>
          <div class="col-lg-4 col-md-4 col-sm-12">
            <select class="form-select" aria-label="Default select example" id="buyer_select">
              <option selected>발주 매장 선택</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
              <option value="4">four</option>
              <option value="5">five</option>
              <option value="6">six</option>
              <option value="7">seven</option>
              <option value="8">eight</option>
              <option value="9">nine</option>
            </select>
          </div>
<!--  배송일 달력 날짜선택   -->
          <h6>배송일</h6>
          <div class="col-lg-4 col-md-4 col-sm-12">

            <input type="text" inputmode="none" placeholder="배송일" id="date-picker" class="form-control bg-white border-1 small" aria-label="Search" aria-describedby="basic-addon2">
<!--            <input type="text" inputmode="none" id="date-picker" class="form-control bg-white border-1 small" aria-label="Search" aria-describedby="basic-addon2" th:value="|${year}-${month}-${day}|">-->
          </div>
    </div>
    </form>
</div>



<script>
$(function() {
  $( "#date-picker" ).datepicker({
    dateFormat: 'yy-mm-dd'
  });
});


</script>




{% endblock %}