{% extends 'base_eos.html' %}
{% block content %}
{% load eos_filter %}

<div class = "container my-3">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">상품코드</th>
          <th scope="col">상품명</th>
          <th scope="col">바코드</th>
          <th scope="col">입수</th>
          <th scope="col">출고가</th>
          <th scope="col">원코드</th>
          <th scope="col">위치정보</th>
        </tr>
      </thead>
      <tbody>
      {% for Products in object_list %}
        <tr>
          <th scope="row">{{Products.id}}</th>
          <td>{{Products.p_id}}</td>
          <td>{{Products.p_name}}</td>
          <td>{{Products.sale_bar}}</td>
          <td>{{Products.iq}}</td>
          <td>{{Products.p_price}}</td>
          <td>{{Products.org_bar}}</td>
          <td>{{Products.location}}</td>
        </tr>
      </tbody>
    </table>

{% endfor %}
</div>
{% endblock %}